body {
    background: #fff;
    font-family: sans-serif;
}

.balloon-container {
    background: rgba(0, 0, 0, 0.74);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.65);
    width: 150px;
    height: 260px;
    padding: 15px 20px;
    transition: all .2s ease;
    text-align: center;
    margin: 20px;
}

.balloon-container:hover {
    transform: scale(1.01);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
}

.balloon-img {
    height: 158px;
    border: 2px solid white;
    border-radius: 5px;
}

.balloon-container h1 {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    margin: 5px;
}å

.balloon-container h2 {
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    margin: 3px;
}

.btn {
    padding: 6px 25px;
    text-transform: uppercase;
    font-size: 14px;
    background: white;
    color: #F13E3E;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
    top: 10px;
    transition: all .2s ease;
}

.list-container li {
    float: left;
    list-style-type: none;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 110px;
    background: rgba(70, 255, 248, 0.97);
    padding-left: 84px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.66), 0 63px 100px rgba(250, 53, 53, 0.99) inset;
}

.title {
    font-family: Arial;
    margin-top: 10px;
    font-size: 72px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.92);
}

#app-container {
    margin: 0 auto;
    margin-top: 110px;
    padding: 0 20px;
    width: 90%;
}
